* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  margin-top: 30px;
  width: 300px;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: black;
  color: white;
  box-shadow: 5px 10px 5px grey;
  ul {
    padding: 0;
  }

  li {
    list-style: none;
    padding-top: 5%;
  }

}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: black;
  box-shadow: 0px 3px 5px grey;
}

.menu-icon-container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 0;
  padding: 10px;
  color: white;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.product-container {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

